<div class="content">
	<div class="swapper">
		<div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-default" style="overflow: hidden;">
                        <thead>
                            <tr>
                                <th class="col-lg-3 label label-default sche-title-table" style="background-color: #343434"><h7>Nha Sỹ</h7></th>
                                <th class="col-lg-9 label label-default"><h7>Trạng thái</h7></th>
                            </tr>
                        </thead>
                        <tbody>
                        	<!-- thông tin va lich trinh cua nha sy 1 -->

                            <tr>
                                <td id="dr-1" class="dr-schedule user-active">
                                	<div class="sche-left-infor">
                                		<span class="sche-icon-infor"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                	 	<div class="sche-user-infor">
                                	 		<p class="sche-name-infor"><strong>Dr. Tư Ròn</strong></p> 
                                			<p class="sche-special-infor">Face-care</p>
                                	 	</div>
                                	
                                	</div>
                                </td>
                                <td>
                                	<div id="dn-1" class="sche-axis-doctor sche-active-doctor">
                                    	<div class="row">
                                    		<dir class="sche-shift">
                                				<div class="sche-perform"></div>
                                			</dir>
                                    		<div class="col-md-8">
                                    			<dir class="sche-shift">
                                    				<div class="sche-morning"></div>
                                    				<div class="sche-afternoon"></div>
                                    				<div class="sche-evening"></div>
                                    			</dir>
		                                    	<div class="sche-axis">
		                                    	<!-- vị trí mỗi mốc (giờ bắt đầu - 7) * 41 cho nữa giờ 
														8h ->  41  = 41*1 => 1 = (8 - 8)/30 + 1 
														8h30 -> 74 = 41 * 2 => 2 = (8h30 - 8)/30 + 1
														9h -> 111	 = 41 *3 => => 30 = (9 - 8)/30 + 1
													Chiều dài: = ((thời gian mỗi ca / 30) * 41) - 1
													Tất cả tính bằng phút

		                                    	-->
			                                    	<div class="sche-work-moorning tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>8pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>9pm</span></div>
			                                    		
				                                    </div>
				                                    <div class="sche-work-afternoon tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>15pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>16pm</span></div>
			                                    		
				                                    </div>
			                                  
				                                    <div class="sche-work-everning tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>20pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>22pm</span></div>
			                                    		
				                                    </div>
			                                 
											</div>
											<div class="col-md-4">
												
											</div>
										</div>
									</div>
                                </td>
                                
                            </tr>
                            <!-- END -->
                            <!-- thông tin va lich trinh cua nha sy 2 -->
                            <tr>
                                <td class="dr-schedule" id="dr-2">
                                	<div class="sche-left-infor">
                                		<span class="sche-icon-infor"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                	 	<div class="sche-user-infor">
                                	 		<p class="sche-name-infor"><strong>Dr. Ngọc Anh</strong></p> 
                                			<p class="sche-special-infor">Chỉnh hàm, dvcb</p>
                                	 	</div>
                                	
                                	</div>
                                </td>
                                <td>
                                	<div id="dn-2" class="sche-axis-doctor">
                                    	<div class="row">
                                    		<dir class="sche-shift">
                                				<div class="sche-perform"></div>
                                			</dir>
                                    		<div class="col-md-8">	
                                    		<!-- 3 tab lam vie sang hiu toi -->
                                    			<div class="sche-work-moorning tab-pane fade">
			                                    	<div class="sche-axis">
			                                    		<div class="sche-woking" style="left: 82px; width: 81px"><span>08pm</span></div>	
			                                    		<!-- vị trí mỗi móc có * 41 cho nữa giờ -->
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>09pm</span></div>
			                                    		<div class="sche-woking" style="left: 205px; width: 40px"><span>09pm</span></div>
			                                    		<div class="sche-woking" style="left: 246px; width: 81px"><span>09pm</span></div>
		                                    		</div>
		                                    	</div>
		                                    	<div class="sche-work-afternoon tab-pane fade">
			                                    	<div class="sche-axis">
			                                    		<div class="sche-woking" style="left: 82px; width: 81px"><span>13pm</span></div>	
			                                    		<!-- vị trí mỗi móc có * 41 cho nữa giờ -->
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>14pm</span></div>
			                                    		
		                                    		</div>
		                                    	</div>
		                                    	<div class="sche-work-everning tab-pane fade">
			                                    	<div class="sche-axis">
			                                    		
			                                    		<div class="sche-woking" style="left: 205px; width: 40px"><span>18pm</span></div>
			                                    		<div class="sche-woking" style="left: 246px; width: 81px"><span>9pm</span></div>
		                                    		</div>
		                                    	</div>
		                                    	<!-- het 3 tab -->
											</div>
											<div class="col-md-4">
												
											</div>
										</div>
									</div>
                                </td>
                               
                            </tr>
                            <!-- END -->
                            <!-- thông tin va lich trinh cua nha sy 3 -->
                            <tr>
                                <td id="dr-3" class="dr-schedule">
                                	<div class="sche-left-infor">
                                		<span class="sche-icon-infor"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                	 	<div class="sche-user-infor">
                                	 		<p class="sche-name-infor"><strong>Dr. Thiện  Lương</strong></p> 
                                			<p class="sche-special-infor">Iplant, răng sứ, dvcb</p>
                                	 	</div>
                                	
                                	</div>
                                </td>
                                <td>
                                	<div id="dn-3" class="sche-axis-doctor">
                                    	<div class="row">
                                    		<dir class="sche-shift">
                                				<div class="sche-perform"></div>
                                			</dir>
                                    		<div class="col-md-8">	
		                                    	<div class="sche-axis">
		                                    		<div class="sche-work-moorning tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>8pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>9pm</span></div>
			                                    		
				                                    </div>
				                                    <div class="sche-work-afternoon tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>15pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>16pm</span></div>
			                                    		
				                                    </div>
			                                  
				                                    <div class="sche-work-everning tab-pane fade">
			                                    		<div class="sche-woking" style="left: 0px; width: {{ 122 }}px"><span>20pm</span></div>	
			                                    		
			                                    		<div class="sche-woking" style="left: 164px; width: 40px"><span>22pm</span></div>
			                                    		
				                                    </div>
			                                 
			                                    </div>
											</div>
											<div class="col-md-4">
												
											</div>
										</div>
									</div>
								</td>
                                
                            </tr>
                            <!-- END -->
                            <!-- Thêm 1 filed tạo khoảng trắng, trang trí cho đẹp -->
                            <tr style="height: 15px;">
                                
                            </tr>
                            <!-- END -->
                            <!-- Thời gian biểu -->
                            <tr>
                                <td class="sche-day">Th 3- 28/02/2017</td>
                                <td class="sche-axis-main">
                                	<div class="row">	
                                		<div class="col-md-8">
                                			<div id="moorning" class="sche-work-mooorning tab-pane fade">
											    <div class="sche-axis">
		                                    		<div class="sche-time"><span>08pm</span></div>	
		                                    		<div class="sche-time"><span>09pm</span></div>
		                                    		<div class="sche-time"><span>10pm</span></div>
		                                    		<div class="sche-time"><span>11pm</span></div>
		                                    		<div class="sche-time"><span>12pm</span></div>
		                                    		<div class="sche-time"><span>13pm</span></div>		
		                                    	</div>
										    </div>
										    <div id="afternoon" class="sche-work-afternoon tab-pane fade">
										    	<div class="sche-axis">
		                                    		<div class="sche-time"><span>13pm</span></div>	
		                                    		<div class="sche-time"><span>14pm</span></div>
		                                    		<div class="sche-time"><span>15pm</span></div>
		                                    		<div class="sche-time"><span>16pm</span></div>
		                                    		<div class="sche-time"><span>17pm</span></div>
		                                    		<div class="sche-time"><span>18pm</span></div>		
		                                    	</div>
										    </div>
	                                    	<div id="everning" class="sche-work-everning tab-pane fade">
										    	<div class="sche-axis">
		                                    		<div class="sche-time"><span>18pm</span></div>	
		                                    		<div class="sche-time"><span>19pm</span></div>
		                                    		<div class="sche-time"><span>20pm</span></div>
		                                    		<div class="sche-time"><span>21pm</span></div>
		                                    		<div class="sche-time"><span>22pm</span></div>
		                                    		<div class="sche-time"><span>23pm</span></div>		
		                                    	</div>
										    </div>
										</div>
										<div class="col-md-4" style="margin-top: 10px;">
											<ul class="nav nav-pills">
												<li class="active" id = "current">
													<a data-toggle="pill" href="#current" class="btn btn-default btn-sm">Hiện tại</a>
												</li>
												<li id = "moorning">
													<a data-toggle="pill" href="#moorning" class="btn btn-default btn-sm">Sáng</a>
												</li>
												<li id = "afternoon">
													<a data-toggle="pill" href="#afternoon" class="btn btn-default btn-sm">Chiều</a>
												</li>
												<li id = "everning">
													<a data-toggle="pill" href="#everning" class="btn btn-default btn-sm">Tối</a>
												</li>
											</ul>
											
										</div>
									</div>
                                </td>
                            </tr>
                            <!-- END -->
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>	
</div>

